@font-face {
  font-family: 'customFont';
  src: url('/assets/font/hobo/HoboStd.eot');
  src: url('/assets/font/hobo/HoboStd.woff2') format('woff2'),
url('/assets/font/hobo/HoboStd.woff') format('woff'),
url('/assets/font/hobo/HoboStd.ttf') format('truetype'),
url('/assets/font/hobo/HoboStd.svg#customFont') format('svg'),
url('/assets/font/hobo/HoboStd.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

$font-family-sans-serif: customFont;
$font-family-base: $font-family-sans-serif !default;

$primary: #A0819D;

.bg-body {
  background-image :url("/klea/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 100%;
  height: 90%;
  position: absolute;
}

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";

// 5. Add additional custom code here